.App {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.App-header {
  background-color: #222;
  height: 60px;
  color: white;
}

.App-title {
  padding: 10px;
  font-size: 2.1em;
  font-size: bold;
}

.left-box {
  flex: 1.1;
  margin: 10px;
  border: 1px solid grey;
  background-color: #eee;
}

.right-box {
  flex: 0.9;
  overflow: auto;
  margin: 10px;
  background-color: white;
  border: 1px solid grey;
  padding: 10px;
}

.radio-buttons {
  text-align: left;
  font-size: 1.1em;
}

input {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
  border-radius: 0px;
  border: 1px solid black;
  padding: 3px;
}

.run-button {
  font-size: 1.1em;
  border: 1px solid #2246ce;
  background-color: #408efd;
  padding: 4px;
  cursor: pointer;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}

button:hover {
  background-color: grey;
  border: 1px solid black;
}

.select-button {
  font-size: 1.1em;
  border: 1px solid #de6b1f;
  background-color: #ff9b4a;
  padding: 4px;
  cursor: pointer;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
}
